{{#each this}}
  <div class="movie-card">
    <img src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="" loading="lazy" data-id='{{id}}'/>
    <div class="info">
      <h2 data-id='{{id}}'>{{original_title}}</h2>
      <p class="info-item" data-id='{{id}}'>
        <b data-id='{{id}}'>Genre:</b> {{genre_ids}}
      </p>
      <p class="info-item" data-id='{{id}}'>
        <b data-id='{{id}}'>Release Date:</b> {{release_date}}
      </p>
    </div>
  </div>
{{/each}}