{{#each this}}
  <li class='gallery-home__item'>  
    <article class='gallery-home__card'>
      <a class='gallery-home__link'>
        <div class='gallery-home__card-thumb'>
          <img
            src='https://image.tmdb.org/t/p/original/{{poster_path}}'
            alt='Film poster'
            data-id='{{id}}'
            loading='lazy'
            width='395'
            height='574'
          />
          <span class="gallery-home__card-rate">{{rate}}</span>
        </div>
        <div class='gallery-home__card-info'>
          <h3 class='gallery-home__card-title' data-id='{{id}}'>{{title}}</h3>
          <p class='gallery-home__card-text' data-id='{{id}}'>
            {{genresString}}
            |
            {{year}}
          </p>
        </div>
      </a>
    </article>
  </li>
{{/each}}