{{#each this}}
  <li class='gallery-home__item'>  
    <article class='gallery-home__card'>
      <a class='gallery-home__link'>
        <div class='gallery-home__card-thumb'>
          <img
            src='https://image.tmdb.org/t/p/original/{{poster_path}}'
             onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
            loading="lazy"
            alt='{{title}}'
            title='{{title}}'
            data-id='{{id}}'
            loading='lazy'
            width='395'
            height='500'
          />
          <span class="gallery-home__card-rate">{{rate}}</span>
        </div>
        <div class='gallery-home__card-info'>
          <h3 class='gallery-home__card-title' data-id='{{id}}'>{{title}}</h3>
          {{#if release_date}}
          <p class='gallery-home__card-text' data-id='{{id}}'>
            {{genresString}}
            |
            {{year}}
            {{else}}
<p class='gallery-home__card-text' data-id='{{id}}'>
            Not found
             {{/if}}
          </p>
        </div>
      </a>
    </article>
  </li>
{{/each}}